/* Taken from: https://forum.xfce.org/viewtopic.php?id=11224 */

notebook tab {
  min-height: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

notebook tab button {
  min-height: 0;
  min-width: 0;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

notebook button {
  min-height: 0;
  min-width: 0;
  padding: 0px;
}
