[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Mute Microphone on Startup
Comment=
Exec=amixer set Capture nocap
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
